<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <div class="text-center">
            <div class="container mx-auto mt-20">
                <label>
                    <input type="radio" v-model='team' id="swallows" value="東京ヤクルトスワローズ" :class="inputClass" />
                    <div :class="labelClass">
                        東京ヤクルトスワローズ
                    </div>
                </label>
                <div>
                    <input type="radio" v-model='team' id="tigers" value="阪神タイガース" :class="inputClass" />
                    <label for="tigers" :class="labelClass">
                        阪神タイガース
                    </label>
                </div>
                <div>
                    <input type="radio" v-model='team' id="giants" value="読売ジャイアンツ" :class="inputClass" />
                    <label for="giants" :class="labelClass">
                        読売ジャイアンツ
                    </label>
                </div>
                <div>
                    <input type="radio" v-model='team' id="carp" value="広島東洋カープ" :class="inputClass" />
                    <label for="carp" :class="labelClass">
                        広島東洋カープ
                    </label>
                </div>
                <div>
                    <input type="radio" v-model='team' id="dragons" value="中日ドラゴンズ" :class="inputClass" />
                    <label for="dragons" :class="labelClass">
                        中日ドラゴンズ
                    </label>
                </div>
                <div>
                    <input type="radio" v-model='team' id="baystars" value="横浜DeNAベイスターズ" :class="inputClass" />
                    <label for="baystars" :class="labelClass">
                        横浜DeNAベイスターズ
                    </label>
                </div>
                <div>
                    <p class="text-center text-3xl mt-10">{{ team }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const SelectedTeam = {
        data() {
            return {
                team: 'チームを選択してください',
                inputClass: ['hidden peer'],
                labelClass: ['flex flex-col w-full max-w-lg mx-auto border-2 rounded-2xl border-gray-900 p-2 my-4 text-3xl hover:bg-yellow-200 peer-checked:bg-green-200']
            }
        }
    }
    Vue.createApp(SelectedTeam).mount('#app')
</script>

</html>