<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <div class="container mx-auto mt-20">
            <div class="text-center">
                <input type="radio" v-model='team' id="swallows" value="東京ヤクルトスワローズ" :class="inputClass" />
                <label for="swallows" :class="labelClass"><div class="text-3xl">東京ヤクルトスワローズ</div></label>
            </div>
            <div class="text-center">
                <input type="radio" v-model='team' id="tigers" value="阪神タイガース" :class="inputClass" />
                <label for="tigers" :class="labelClass"><div class="text-3xl">阪神タイガース</div></label>
            </div>
            <div class="text-center">
                <input type="radio" v-model='team' id="giants" value="読売ジャイアンツ" :class="inputClass" />
                <label for="giants" :class="labelClass"><div class="text-3xl">読売ジャイアンツ</div></label>
            </div>
            <div class="text-center">
                <input type="radio" v-model='team' id="carp" value="広島東洋カープ" :class="inputClass" />
                <label for="carp" :class="labelClass"><div class="text-3xl">広島東洋カープ</div></label>
            </div>
            <div class="text-center">
                <input type="radio" v-model='team' id="dragons" value="中日ドラゴンズ" :class="inputClass" />
                <label for="dragons" :class="labelClass"><div class="text-3xl">中日ドラゴンズ</div></label>
            </div>
            <div class="text-center">
                <input type="radio" v-model='team' id="baystars" value="横浜DeNAベイスターズ" :class="inputClass" />
                <label for="baystars" :class="labelClass"><div class="text-3xl">横浜DeNAベイスターズ</div></label>
            </div>
                <p class="text-center text-3xl mt-10">{{ team }}</p>
            </div>
        </div>
    </div>
</body>
<script>
    const SelectedTeam = {
        data() {
            return {
                team: 'チームを選択してください',
                inputClass: ['hidden peer'],
                labelClass: ['flex flex-col w-full max-w-lg mx-auto border-2 rounded-2xl border-gray-900 p-2 my-4 hover:bg-yellow-200 peer-checked:bg-green-200']
            }
        }
    }
    Vue.createApp(SelectedTeam).mount('#app')
</script>

</html>